'scopeName': 'text.dsl'
'name': 'Lingvo DSL'
'fileTypes': ['dsl']
'patterns': [
  {
    'include': '#comment'
  }
  {
    'include': '#index'
  }
  {
    'include': '#macro'
  }
  {
    'include': '#tag'
  }
]

'repository':
  'string':
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.dsl'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.dsl'
    'name': 'string.quoted.double.dsl'
    'patterns': [
      {
        'include': '#escape'
      }
    ]

  'escape':
    'match': '(\\[|\\])'
    'name': 'constant.character.escape.dsl'

  'attribute':
    'match': '\\s+(\\w+)(=)'
    'captures':
      '1':
        'name': 'entity.other.attribute-name.dsl'
      '2':
        'name': 'punctuation.definition.tag.dsl'

  'macro':
    'begin': '^\\s*#(NAME|INDEX_LANGUAGE|CONTENTS_LANGUAGE|INCLUDE)'
    'beginCaptures':
      '0':
        'name': 'keyword.other.dsl'
    'end': '$'
    'patterns': [
      {
        'include': '#string'
      }
    ]

  'comment':
    'begin': '\\{\\{'
    'end': '\\}\\}'
    'name': 'comment.block.dsl'

  'index':
    'match': '^[^\\s#]+'
    'name': 'markup.bold.dsl'

  'tag':
    'begin': '\\[/?\\w+'
    'beginCaptures':
      '0':
        'name': 'entity.name.tag.dsl'
    'end': '\\]'
    'endCaptures':
      '0':
        'name': 'entity.name.tag.dsl'
    'patterns': [
      {
        'include': '#attribute'
      }
      {
        'include': '#string'
      }
    ]
